<div class="card" style="width: 18rem;">
  <img src="/image/scissors.png" class="card-img-top" alt="scissors">
  <div class="card-body">
    <p class="card-text">Here's your short URL:
    </p>
    <div class="url-set">
      <h2>teenyurl/{{ shortenURL }}</h2>
      <button id="copyBtn" class="btn btn-dark btn-sm" data-url={{ shortenURL }}>COPY</button>
    </div>
  </div>
  <hr>
  <a href="/" class="home">
    <button class="btn btn-dark">HOME</button>
  </a>
</div>