<div class="container">
  <div class="row">

    {{!-- Links --}}
    <div class="col-sm-8 shorten">
      <header>ALL Links</header>
      <hr>
      <div class="link-container">

        {{!-- Render Links --}}
        {{#each urls}}
        <div class="view">
          <div class="row d-flex align-items-center">
            <div class="col-5 links">
              <div class="link">
                <small>{{ this.long }}</small>
                <h5>teenyurl/{{ this.shorten }}</h5>
              </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
              <button class="btn btn-dark btn-sm" data-url={{ this.shorten }}>COPY</button>
            </div>
            <div class="col-3 d-flex justify-content-center align-items-center click-box">
              <small class="clicks">Clicks</small>
              <p>{{ this.clicks }}</p>
            </div>
          </div>
        </div>
        {{/each}}

      </div>
    </div>

    {{!-- Create links --}}
    <div class="col-sm-4">
      <header>Create Link</header>
      <hr>
      <form action='/' method="POST" class="form-inline my-2 my-lg-0">
        <div class="inputs">
          <p>LONG URL</p>
          <input id="url" class="form-control mr-sm-2" name="url" type="text" placeholder="Input URL here"
            autocomplete="off" required>
        </div>
        <h5>UTM Parameter (Optional)</h5>
        <p>UTMs can help you track web traffic in analytics tools.</p>
        <div class="inputs">
          <p>SOURCE</p>
          <input id="source" class="form-control mr-sm-2" name="source" type="text" placeholder="e.g. google, facebook">
        </div>
        <div class="inputs">
          <p>MEDIUM</p>
          <input id="medium" class="form-control mr-sm-2" name="medium" type="text" placeholder="e.g. cpc, email">
        </div>
        <div class="inputs">
          <p>CAMPAIGN</p>
          <input id="campaign" class="form-control mr-sm-2" name="campaign" type="text"
            placeholder="e.g. summer_discount">
        </div>
        <button type="submit" class="btn btn-dark">Create</button>
      </form>
    </div>
  </div>