<div class="container">
  <div class="row">

    {{!-- Links --}}
    <div class="col-sm-8 shorten">
      <header>ALL Links</header>
      <hr>
      <div class="view">
        <div class="row d-flex align-items-center">
          <div class="col d-flex justify-content-center">
            <div class="link">
              <small>https://tw.alphacamp.co</small>
              <h5>teenyurl/Hsk36</h5>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <button class="btn btn-dark btn-sm">COPY</button>
          </div>
          <div class="col d-flex justify-content-center align-items-center click-box">
            <small class="clicks">Clicks</small>
            <p>276</p>
          </div>
        </div>
      </div>

    </div>
    {{!-- Create links --}}
    <div class="col-sm-4">
      <header>Create Link</header>
      <hr>
      <form action='/' method="POST" class="form-inline my-2 my-lg-0">
        <div class="inputs">
          <p>LONG URL</p>
          <input id="url" class="form-control mr-sm-2" name="url" type="text" placeholder="Input URL here" required>
        </div>
        <h5>UTM Parameter (Optional)</h5>
        <p>UTMs can help you track web traffic in analytics tools.</p>
        <div class="inputs">
          <p>SOURCE</p>
          <input id="source" class="form-control mr-sm-2" name="source" type="text" placeholder="e.g. google, facebook">
        </div>
        <div class="inputs">
          <p>MEDIUM</p>
          <input id="medium" class="form-control mr-sm-2" name="medium" type="text" placeholder="e.g. cpc, email">
        </div>
        <div class="inputs">
          <p>CAMPAIGN</p>
          <input id="campaign" class="form-control mr-sm-2" name="campaign" type="text"
            placeholder="e.g. summer_discount">
        </div>
        <button type="submit" class="btn btn-dark">Shorten</button>
      </form>
    </div>
  </div>




  {{#if exist}}
  <div>
    <p>This URL exists.</p>
  </div>
  {{/if}}

  {{#if shortenURL}}
  <div>
    <p>Here's your shorten URL: teenyurl/{{ shortenURL }}</p>
  </div>
  {{/if}}

</div>