html, body {
  background-color: rgb(255, 248, 240);
}

.card {
  background-color: rgb(255, 248, 240);
  position: fixed;
  top: 10%;
  left: 40%;
  border: none;
}

.card > img {
  margin-bottom: 2rem;
  transform: rotate(45deg);
}

.url-set {
  display: flex;
}

h2 {
  color: rgb(247, 106, 12);
}

button {
  margin: 0 2rem;
}

.home {
  display: flex;
  justify-content: center;
  text-decoration: none;
}