*, body {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  background-color: #dcebeb;
}

nav {
  padding: 20px;
}

.container {
  margin: 50px 30px;
}

header {
  font-size: x-large;
}

/* Alert */
.alert {
  position: absolute;
  top: 10vh;
  left: 25%;
  width: 50%;
  z-index: 999;
  opacity: 0;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 3s;
}

@keyframes fadeout {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% {{ opacity: 0; }}
}

/* Form letters */
form > p {
  font-size: 0.5 rem;
  font-weight: 100;
}

/* Input groups */
.inputs {
  margin: 20px 0;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid rgb(66, 66, 66);
}

.inputs p {
  font-size: smaller;
  margin: 5px 0 0 20px;
}

.inputs input {
  margin: 5px;
  max-width: 100%;
  border: none;
}

.inputs input:focus {
  outline: none;
  box-shadow: none;
}


.btn:hover {
  border: none;
  color: #fff;
  background-color: rgb(247, 106, 12);
}

/* View */
.link-container {
  height: 70vh;
  overflow-y: scroll;
}

.view {
  background-color: rgb(255, 248, 240);
  border-radius: 15px;
  margin-bottom: 1rem;
}

.link > h5 {
  color: rgb(247, 106, 12);
}

.links {
  margin-left: 1rem;
}

small {
  font-size: 12px;
  color:rgb(102, 102, 102);
}

.click-box {
  position: relative;
}

.clicks {
  position: absolute;
  top: -0.3rem;
  left: 1.5rem;
  
}

.click-box > p {
  margin: auto;
}